<section class="company-facality">
    <div class="container">
        <div class="row">
            <div class="company-facality-row">
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">MIỄN PHÍ GIAO HÀNG</h3>
                            <span>FREESHIP đơn hàng từ 500.000 VND</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-facality">
                        <div class="facality-icon">

                            <i class="fa fa-check"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">CAM KẾT CHÍNH HÃNG</h3>
                            <span>Cam kết hàng chính hãng</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">BÁN CẢ TRONG NGÀY LỄ</h3>
                            <span>Mở cửa ngay cả ngày lễ</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
                <!-- SINGLE-FACALITY START -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-facality">
                        <div class="facality-icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="facality-text">
                            <h3 class="facality-heading-text">ĐỔI TRẢ TRONG 7 NGÀY</h3>
                            <span>Nếu sản phẩm có lỗi</span>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-FACALITY END -->
            </div>
        </div>
    </div>
</section>