
<section class="footer-top-area">
    <div class="container">
        <div class="footer-top-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-top-left">
                        <div class="about-us-area">
                            <h2>TeamGut</h2>
                            <p>Lê Hồng Quân</p>
                            <p>Phạm Thị Trang Thu</p>
                            <p>Nguyễn Thị Mai Hoa</p>
                            <p>Nguyễn Phạm Trung Kiên</p>
                        </div>
                        <div class="fllow-us-area">
                            <h2>THEO DÕI</h2>
                            <ul class="flow-us-link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="footer-top-right-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="about-us-area">
                                        <h2>Về chúng tôi</h2>
                                        <p>Giới thiệu về Website</p>
                                        <p>Quy chế hoạt động</p>
                                        <p>Khách hàng và đối tác</p>
                                        <p>Bảo mật thông tin</p>
                                    </div>
                                    </div>
                                </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hỗ trợ KH: 0348 533 505</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Mua hàng: 037 202 4840</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hotline hỗ trợ: 0814 789 455</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>